@import '../../styles/variables.scss';

.slider {
    width: 80%;
    margin: 0 auto;

    &__input {
      width: 100%;
      height: 40px;
      cursor: pointer;
      background: $gray;
    }

    &__label {
        display: block;
        margin-top: 15px;
        color: $gray-dark;
        text-align: left;
    }
}
